<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118472971-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-118472971-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Joan's Fine Art Photographs</title>

    <meta property="og:url" content="<%= process.env.SITE_URL %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Fine Art Photography by Joan Faue-Durrant" />
    <meta property="og:description" content="Fine art photography celebrating nature in its many forms." />
    <meta property="og:image" content="https://www.joanfauedurrant.com/img/thumbnail.jpg" />

    <link href="https://fonts.googleapis.com/css?family=Manjari|Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/bs/bootstrap.min.css">
    <link href="../js/font-awesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>