<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Joan's Fine Art Photographs</title>

    <meta property="og:url" content="https://www.your-domain.com/your-page.html" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Your Website Title" />
    <meta property="og:description" content="Your description" />
    <meta property="og:image" content="https://www.your-domain.com/path/image.jpg" />

    <link href="https://fonts.googleapis.com/css?family=Manjari|Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/bs/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>