<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Joan's Fine Art Photographs</title>

    <meta property="og:url" content="https://photo-gallery-lake-4587.herokuapp.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Fine Art Photography by Joan Faue-Durrant" />
    <meta property="og:description" content="Fine art photography celebrating nature in its many forms." />
    <meta property="og:image" content="imgs/thumbnail.jpg" />

    <link href="https://fonts.googleapis.com/css?family=Manjari|Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/bs/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>