<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="container">
    <div class="col hidden-xs">
    </div>
    <div class="col-8-lg">
        <h2>About Joan</h2>
        <img src="img/portrait.jpg" class="img-fluid" alt="Portrait">
        <div class="container">
            <p class="about">
                My name is Joan. I currently live in Borrego Springs, CA, with my husband Michael. I am an artist and
                photographer by profession, but in my spare time I love hiking and exploring the Great Outdoors.
            </p>
        </div>
    </div>
    <div class="col hidden-xs">
    </div>
</div>

<% include ./partials/scripts %>
<% include ./partials/footer %>