<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="container">

    <h2>Contact</h2>
    
    <p>Successfully sent the contact request! :) Thanks for your interest! </p>
    <a href="./contact"><button class="btn btn-primary">Back</button></a>


</div>

<% include ./partials/scripts %>
<% include ./partials/footer %>