<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="container">

    <h2>Contact</h2>
    
    <p>Something went wrong with the contact delivery process. Try again!</p>

</div>

<% include ./partials/scripts %>
<% include ./partials/footer %>