<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="container">

    <h2>Contact</h2>
    
    <p>Successfully sent the contact request!</p>

</div>

<% include ./partials/scripts %>
<% include ./partials/footer %>