<% include ./partials/header %>
<% include ./partials/navbar %>


<div class="container">
  <h1>Fine Art Photography</h1>
  <h3>By Joan Faue-Durrant</h3>


  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <% var index = 0; %>
          <% photos.forEach(function(photo){ %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" <% if (index == 0) { %> class="active" <% } %> > </li>
            <% index = index + 1 %>
          <% }); %>
    </ol>
    <div class="carousel-inner">
        <% index = 0; %>
        <% photos.forEach(function(photo){ %>
           <div class="carousel-item <% if (index == 0) { %> active <% } %>">
              <a href="./photos/<%= photo._id %>"><img src="img/landing/t_<%= photo.image %>" class="d-block w-100" alt="<%= photo.title %>"></a>
            </div>
            <% index = index + 1 %>
        <% }); %>
      
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <!-- Should aim for images of equal size @ 1024x700 -->
 <!--  <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="./photos/5d8f846576dd1918b0c33da0"><img src="img/landing/IMG_6314_resized.JPG"
            class="d-block w-100 img-fluid" alt="..."></a>
      </div>
      <div class="carousel-item">
        <a href="./photos/5d8f846576dd1918b0c33db5"> <img src="img/landing/IMG_6314_resized.JPG"
            class="d-block w-100 img-fluid" alt="..."></a>
      </div>
      <div class="carousel-item">
        <a href="./photos/5d8f846576dd1918b0c33db6"><img src="img/landing/IMG_6323_resized.JPG"
            class="d-block w-100 img-fluid" alt="..."></a>
      </div>
      <div class="carousel-item">
        <a href="./photos/5d8f846576dd1918b0c33dbb"><img src="img/landing/IMG_6332_resized.JPG"
            class="d-block w-100 img-fluid" alt="..."></a>
      </div>
      <div class="carousel-item">
        <a href="./photos/5d8f846576dd1918b0c33dbc"><img src="img/landing/IMG_6334_resized.JPG"
            class="d-block w-100 img-fluid" alt="..."></a>
      </div>
    </div>
  </div> -->
  <br>
  <a href="/photos/">
    <button class="btn btn-primary"> Explore Photos</button></a>
</div>
<% include ./partials/scripts %>
<% include ./partials/footer %>