<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="container">
    <h2>Photo Gallery</h2>
    <div class="header"></div>
    <div class="grid">
        <% photos.forEach(function(photo){ %>
        <div class="grid-item img-fluid">
            <a href="/photos/<%= photo._id %>"><img width="300" src="img/thumbnails/t_<%= photo.image %>"
                    alt="<%= photo.title %>"></a>
        </div>
        <% }); %>
    </div>
    <% if(devMode) { %>
    <a href="/photos/new">
        <p>Add New Photo</p>
    </a>
    <% } %>
</div>


<% include ./partials/scripts %>

<script src="js/index.js"></script>

<% include ./partials/footer %>