<% include ./partials/header %>
<% include ./partials/navbar %>

<h1>Upload Files</h1>
<div class="container">
    <form ref="uploadForm" id="uploadForm" action="/photos/upload" method= "POST" encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <button type="submit"  value='Upload!'>Upload</button>
    </form>     

</div>
<% include ./partials/scripts %>
<% include ./partials/footer %>