body {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(32, 26, 22, 0.945);
  color: rgb(242, 199, 152);
  font-family: 'Ubuntu', sans-serif;

}

img {
  object-fit: contain;
  opacity: 1;
  border: 0px solid rgb(136, 5, 5);
}

a {
  color: rgb(255, 255, 255);
}

a:hover {
  color: hsl(221, 100%, 94%);
  transition: color 1s;
}

h3:hover {
  color: rgb(125, 240, 255);
  transition: color 1s;
}

.grid {
  margin: 0 auto;
}

.grid-item {
  float: left;
  margin: 5px;
}

.gallery {
  text-align: center;
}

.header {
  margin: 2%;
  text-transform: uppercase;

}

.about {
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer {
  margin: 3%;
}

.navbar-brand {
  text-transform: uppercase;
}

.nav-item {
  font-weight: 500;
}

.footer a {
  color: rgb(248, 219, 187);
}

.container p {
  font-weight: 400;
  margin-top: 30px;
}

.about {
  padding-left: 20%;
  padding-right: 20%;
}


#navbar {
  background-color: rgb(248, 219, 187);
  margin-bottom: 15px;
}

.carousel-item img {
  max-height: 500px;
  min-width: auto;
  padding: 20px;
}

.arrow {
  height: 3em;
}

.fas {
  font-size: 4em;
  opacity: 0.2;
}


.fas:hover {

  opacity: 1;
  transition: 1s;
}


#my_centered_buttons { 
  display: flex; justify-content: center; 
}

@media (max-width: 800px) {
  .about {
    padding: 0px;
  }

}